@model IEnumerable<Small_ERP.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Stores</h1>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
           
            <th>
                Item Name
            </th>
            <th>
                Quantity
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
        </tr>
}
    </tbody>
</table>
